@font-face{
    font-family: 'main';
    src: url(..//Snake/Шрифты/13969.otf);
}

h1{
    text-align: center;
    text-transform: uppercase;
    font-size: 200px;
    font-family: 'main';
    letter-spacing: 15px;
}
h3{
    text-align: center;
    margin-top: 5px;
    font-family: 'main';
    font-size: 50px;
}

#gameboard{
    width: 100%;
    height: 100vh;
    border: 3px solid black;
    position: relative;
    background-image: url(..//Snake/Картинки/pixel-art-game-background-grass-sky-and-clouds_210544-60.jpg);
    background-repeat: repeat;
    background-size: contain;

}

.forms{
    
    width: 40%;
    height: 300px;
    border: 3px solid black;
    border-radius: 30px;
    padding: 20px;
    text-align: center;
    margin: 10px 10px;
    font-family: 'main';
    font-size: 20px;
}


#frame{
    display: flex;
    margin: 0 auto;
    justify-content: center;
    
}

.date{
    text-align: center;
    
}

#main{
    width: 100%;
}

#footer{
    position: absolute;
    bottom: 0;
    text-align: center;
    width: 100%;
    font-family: 'main';
    font-size: 30px;
}

#buttons{
    width: 100%;
    text-align: center;
    margin-top: 40px !important;
    
}

#buttons button{
    font-family: 'main';
    font-size: 25px;
    width: 30%;
    height: 50px;
    margin: 30px;
    border-radius: 50px;
    border: 1px;
    cursor: pointer;
    

}

#buttons button:hover{
    background: rgb(0, 255, 64);
    box-shadow: inset 0 0 20px rgba(0, 0, 0, .2), 0 2px 0 rgba(255, 255, 255, .4), inset 0 2px 0 rgba(0, 0, 0, .1);
}

.fieldforms {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.fieldforms  div{
    margin: 20px;
    align-self: center;
    
}

.inputcontainer {
    width: 100%;
    border: 1px ;
    
}

.inputcontainer input{
    width: 60%;
    height: 20px;
    padding: 5px 20px;
    border-radius: 10px;
    border: 1px;
    outline: none;
   
}

.inputcontainer input:hover{
    border:2px solid rgb(0, 255, 21); 
    border-radius: 10px; 
    
}
.inputcontainer input:focus{ 
    border:2px solid rgb(0, 255, 21); 
    border-radius: 10px; 
}
